@import url('https://fonts.googleapis.com/css2?family=Acme&family=Noto+Naskh+Arabic:wght@700&display=swap');
.carsu{
    height: 600px;
    width:1200px;
    margin-left:12.5%;
    margin-top: 80px;
}

.imm{
    width: 350px;
    height: 500px;
}
.besto{
    

    margin-top:30px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    font-family: 'Acme', sans-serif;
}

.mesto{
    font-weight: 500;
    font-size: 15px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    padding-bottom: 10px; 
    text-align: center;
}