.mainwhy{

background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../Img/pexels-jeshootscom-451590.jpg);;
background-attachment: scroll;
background-size: cover;
/* background-repeat: no-repeat; */
/* background-position: bottom 30px; */
background-position: center
;
/* background-blend-mode: darken; */
color : white;
padding:50px;
font-family: 'Roboto', 'Helvetica Neue', Arial,Verdana,sans-serif;
line-height: 1.5;


}

.mainwhy h2{
    font-size: 36px;
    font-weight: 700;
}
.first{
    text-align : center
}

.sec{
    margin-top: 30px;
    display:flex;
    flex-direction : row;
    justify-content : space-evenly;
    text-align : center
}

.sec p{

    font-weight: 500;
    font-size: 15px;
    font-family: Poppins, Helvetica, Arial, sans-serif;
    padding-bottom: 10px;
}

.emog{
font-size: 40px;
/* color: transparent;  
text-shadow: 0 0 3px white; */
color: #fff;
text-shadow: 1px 1px 1px #ccc;
font-size: 1.5em;
}